<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSC4710 Demo</display-name>
  <resource-ref>
<res-ref-name>jdbc/testdb</res-ref-name>
<res-type>javax.sql.DataSource</res-type>
<res-auth>Container</res-auth>
</resource-ref>
  
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
    </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Intializes the database</description>
    <display-name>InitDatabase</display-name>
    <servlet-name>InitDatabase</servlet-name>
    <servlet-class>Servlets.InitDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitDatabase</servlet-name>
    <url-pattern>/InitDatabase</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>PaperUpdate</display-name>
    <servlet-name>PaperUpdate</servlet-name>
    <servlet-class>Servlets.PaperUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperUpdate</servlet-name>
    <url-pattern>/Paper/Update</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PaperList</display-name>
    <servlet-name>PaperList</servlet-name>
    <servlet-class>Servlets.PaperList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperList</servlet-name>
    <url-pattern>/Paper/List</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PaperEdit</display-name>
    <servlet-name>PaperEdit</servlet-name>
    <servlet-class>Servlets.PaperEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperEdit</servlet-name>
    <url-pattern>/Paper/Edit</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>PCMemberList</display-name>
    <servlet-name>PCMemberList</servlet-name>
    <servlet-class>Servlets.PCMemberList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PCMemberList</servlet-name>
    <url-pattern>/PCMember/List</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>PCMemberEdit</display-name>
    <servlet-name>PCMemberEdit</servlet-name>
    <servlet-class>Servlets.PCMemberEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PCMemberEdit</servlet-name>
    <url-pattern>/PCMember/Edit</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ReviewList</display-name>
    <servlet-name>ReviewList</servlet-name>
    <servlet-class>Servlets.ReviewList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewList</servlet-name>
    <url-pattern>/Review/List</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ReviewEdit</display-name>
    <servlet-name>ReviewEdit</servlet-name>
    <servlet-class>Servlets.ReviewEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewEdit</servlet-name>
    <url-pattern>/Review/Edit</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
